@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Movie";
}
@model MovieFormResponse

<h2>Confirm Movie Delete</h2>
<h3>Are you sure you want to delete the record associated with @Model.Title ?</h3>

<form asp-controller="Home" asp-action="Delete" method="post">
    <button class="btn" type="submit">Delete</button>
    <a class="btn btn-primary" asp-controller="Home" asp-action="ShowMovies">Cancel</a>
    <input type="hidden" asp-for="MovieID" />
</form>