@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Joel Hilton and his awesome movie collection.</p>
    <img src="~/img/1.jpg" />

</div>
